/*
  Common invoice styles. These styles will work in a browser or using the HTML
  to PDF anvil endpoint.
*/

body {
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  padding: 0;
}

table tr td:last-child {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}

.left {
    text-align: right;
}

.large {
  font-size: 1.75em;
}

.total {
  font-weight: bold;
  color: #fb7578;
}

.logo-container {
  margin: 20px 0 70px 0;
}

.testes {
    font-size: 11px;
    border: 1px solid #999;
}
.invoice-info-container {
    font-size: 11px;
    border: 1px solid #999;
}
.invoice-info-container td {
    padding: 2px;
}

.client-name {
    font-size: 12px;
    vertical-align: top;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.line-order-number {
    margin: 10px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #d9d9d9;
    text-transform: uppercase;
    border: 1px solid #999;
}

.line-order-values {
    /*margin: 5px 0;*/
    font-size: 12px;
    font-weight: bold;
    background-color: #d9d9d9;
    text-transform: uppercase;
    text-align: right;
    border: 1px solid #999;
}
.atach {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.line-order-services {
    margin: 5px 0;
    font-size: 12px;
    font-weight: bold;
    background-color: #d9d9d9;
    text-transform: uppercase;
    border: 1px solid #999;
    text-align: left;
}

.line-items-container {
    margin: 10px 0;
    font-size: 0.875em;
}

.line-items-container th {
    text-align: left;
    color: black;
    /*background-color: #d9d9d9;*/
    border: 1px solid #999;
    padding: 5px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
}

.tfoot {
    text-align: left;
    color: black;
    background-color: #d9d9d9;
    /*border: 1px solid #999;*/
    padding: 5px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
}

/*.line-items-container th:last-child {*/
/*  text-align: right;*/
/*}*/

.line-items-container td {
    padding: 5px;
    font-size: 11px;
    border: 1px solid #999;
}

/*.line-items-container tbody tr:first-child td {*/
/*  padding-top: 5px;*/
/*}*/

.line-items-container.has-bottom-border tbody tr:last-child td {
  /*padding-bottom: 25px;*/
  border-bottom: 2px solid #ddd;
}

.line-items-container.has-bottom-border {
  margin-bottom: 0;
}

.line-items-container th.heading-quantity {
    width: 40px;
    text-align: center;
}
.line-items-container td.heading-quantity {
    /*width: 40px;*/
    text-align: center;
}

.line-items-container th.heading-price {
  text-align: right;
  width: 100px;
}
.line-items-container th.heading-subtotal {
  width: 100px;
}

.payment-info {
  width: 38%;
  font-size: 0.75em;
  line-height: 1.5;
}

.footer {
  margin-top: 100px;
}

.footer-thanks {
  font-size: 1.125em;
}

.footer-thanks img {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  margin-right: 4px;
}

.footer-info {
  float: right;
  margin-top: 5px;
  font-size: 0.75em;
  color: #ccc;
}

.footer-info span {
  padding: 0 5px;
  color: black;
}

.footer-info span:last-child {
  padding-right: 0;
}

.page-container {
  display: none;
}
